.sponsorBtn{
    margin-right: 10px;
    margin-bottom: 10px;
    
}
.preview{
    padding: 15px;
    border: 1px solid grey;
    border-radius: 8px;
}
.previewImg{
    width: 335px;
    height: 280px;
    overflow: hidden;
}
@media screen and(max-width: 760px){
    .sponsorBtn{
        width: 80%;
    }
}