<div class="row">
    <div class="col-md-12 col-lg-12">
      <nb-card>
        <nb-tabset>
          <nb-tab tabTitle="Create Sponsor">
            <!-- create-event form -->
            <ngx-create-sponsor></ngx-create-sponsor>          
            <!-- end -->
          </nb-tab>
          <nb-tab tabTitle="Update Sponsor Logo">
            <!-- edit-event form -->
            <ngx-update-sponsor></ngx-update-sponsor>
            <!-- end -->
          </nb-tab>
          <nb-tab tabTitle="Sponsor Summary">
            <!-- edit-event form -->
            <ngx-sponsor-summary></ngx-sponsor-summary>
            <!-- end -->
          </nb-tab>
        </nb-tabset>
      </nb-card>
    </div>
  </div>