<div class="row">
    <div class="col-md-12 col-lg-12">
      <nb-card>
        <nb-tabset>
          <nb-tab tabTitle="Create Event">
            <!-- create-event form -->
            <ngx-create-event></ngx-create-event>          
            <!-- end -->
          </nb-tab>
          <nb-tab tabTitle="Edit Event Details">
            <!-- edit-event form -->
            <ngx-edit-event-details></ngx-edit-event-details>
            <!-- end -->
          </nb-tab>
          <nb-tab tabTitle="Edit Event Name">
            <!-- edit-event form -->
            <ngx-edit-event-name></ngx-edit-event-name>
            <!-- end -->
          </nb-tab>
        </nb-tabset>
      </nb-card>
    </div>
  </div>