<div class="row">
  <div class="col-md-12 col-lg-12">
    <nb-card>
      <nb-tabset>
        <nb-tab tabTitle="App Splash Screen">
          <!-- Splash Screen form -->
          <ngx-splash-screen></ngx-splash-screen>            
          <!-- end -->
        </nb-tab>
        <nb-tab tabTitle="Upload Logo">
          <!-- Upload Logo form -->
          <ngx-upload-photo></ngx-upload-photo>
          <!-- end -->
        </nb-tab>
        <nb-tab tabTitle="Message Center">
          <ngx-message-center></ngx-message-center>
        </nb-tab>
        <nb-tab tabTitle="Select Active Event">
          <ngx-select-event></ngx-select-event>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>